<h1> Task Index </h1>

<section class="all_task_list">
  <ul>
    <% @tasks.each do |task| %>
      <li><h3> <%= link_to task.title, task_path(task), method: :get %> </h3></li>
      <p> <%= task.description %> </p>
      <p> <%= button_to "Delete Task", task_path(task), method: :delete %></p>
    <% end %>
  </ul>
</section>