<h1> Welcome to the Task Manager </h1>

<section class="welcome_navigation_menu">
  <ul>
    <li> <%= link_to "Task Index", tasks_path, method: :get %> </li>
    <li> <%= link_to "Create a New Task", new_task_path, method: :get %> </li>
  </ul>
</section>